@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* width */
::-webkit-scrollbar{
  width:8px;
}

/* track */
::-webkit-scrollbar-track{
  background-color: whitesmoke;
}

/* thumb */
::-webkit-scrollbar-thumb{
  border-radius: 25px;
  background-color: rgb(138, 138, 240);
  /* color:rgb(173, 104, 237) */
}

::-webkit-scrollbar-thumb:hover{
  background-color: blue;
}


.home{
  font-family: 'Cerebri Sans';
}